!!! 5
%html{ :lang => 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport',  content: 'width=device-width, initial-scale=1.0'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
  %body
    %header
      = render :partial => 'components/navbar'
      = render :partial => 'components/flash'
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      $(document).ready(function(){
        $(document).foundation();
      });
